.navbar {
    background-color:black;
    color:white;
    font-family: 'Oswald', sans-serif;
    
}
nav a {
    text-decoration: none;
    color:rgb(33, 168, 202);
}
nav a:hover{
    color:grey;
}

.navbar.navbar-expand-lg div.container-fluid div#navbarNavAltMarkup.collapse.navbar-collapse div.navbar-nav{
    position: relative;
    left: vh;

}